@font-face {
    font-family: 'Chakra Petch';
    src: url('../font/Chakra_Petch/ChakraPetch-Regular.ttf') format(truetype);

}

@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-VariableFont_wght.ttf') format(truetype);

}